In [1]:
def say_hello():
    print("Henlo fren!")

In [2]:
say_hello()

Henlo fren!

In [3]:
def say_something(something):
    print(something)

In [4]:
say_something("FRICKEN BEES")

FRICKEN BEES

In [5]:
Joey_the_goober = "eyheyhey I'm fricken learning pyton hea"
say_something(Joey_the_goober)

eyheyhey I'm fricken learning pyton hea

In [ ]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count/float(student_count) * 100

In [11]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [13]:
import pandas as pd
#convert my_grades into series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
#change letter grades
my_grades.map({'B':'A', 'C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [17]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])

for grade in my_grades:
    print("{:.0f}".format(grade))
my_grades

92
85
87
98

In [18]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [19]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object